{% extends "layout.html" %}
{% block body %}

    <h2>Wishlist</h2>
    {% for country in all_countries %}
    {% if country.visited == False %}
        <p>
        Country ID: {{ country.id }}<br>
        Country Name: {{ country.country_name }}<br>
        <p>
    {% endif %}
    {% endfor %}

    <h2>Visited</h2>
    {% for country in all_countries %}
    {% if country.visited == True %}
        <p>
        Country ID: {{ country.id }}<br>
        Country Name: {{ country.country_name }}<br>
        {% endif %}
        {% if country.recommend == True %}
        Recommended
        <p>
    {% endif %}
    {% endfor %}

{% endblock body %}